<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceamaitareechipa.h44x.ochiullazarului">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_lzr"
        android:label="LZR App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ORARActivity" />
        <activity android:name=".SALIActivity" />
        <activity android:name=".ProfilulMeu" />
        <activity android:name=".TabelActivity" />
        <activity android:name=".Credits" />
        <activity android:name=".ListaEleviActivity" />
        <activity android:name=".ActivitatiActivity" />
        <activity android:name=".InformatiiActivity" />
        <activity android:name=".LitereActivity" />
        <activity android:name=".ExameneActivity"/>
        <activity android:name=".Test"/>
        <activity android:name=".Chat"></activity>
    </application>

</manifest>